{% extends "base.html" %}

{% block body %}
    <table>
        <tr>{{ repository.full_name }}</tr>
        <tr><td>Fork:</td><td>{{ repository.fork }}</td></tr>
        <tr><td>First commit:</td><td>{{ repository.first_commit }}</td></tr>
        <tr><td>Last commit:</td><td>{{ repository.last_commit }}</td></tr>
        <tr><td>Named contributors:</td><td>{{ repository.contributors }}</td></tr>
        <tr><td>Prediction:</td><td>{{ prediction }}</td></tr>
    </table>
{% endblock %}

{% block scripts %}
    <script>
        var commits = {{ commits | safe }};
        var issues = {{ issues | safe }};
        var closedissues = {{ closedissues | safe }};
        var closedissuestime = {{ closedissuestime | safe }};
        var pulls = {{ pulls | safe }};
        var closedpulls = {{ closedpulls | safe }};
        var closedpullstime = {{ closedpullstime | safe }};
        var forks = {{ forks | safe }};
    </script>
    <script src="http://d3js.org/d3.v3.min.js" charset="utf-8"></script>
    <script src="/static/render_stats.js"></script>
{% endblock %}
