{% extends "base.html" %}
{% load staticfiles %}

{% block body %}
    <div class="col-md-3">
        {% include "ghactivity/sidebar.html" %}
    </div>
    <div class="col-md-9">
        <div class="row">
            <div class="col-md-12">
                <p style="font-size: 50px;">Hello, {{ user.username }}! You have statistics about {{ user.repos_count }} repositor{{ user.repos_count|pluralize:"y,ies" }}.</p>
            </div>
        </div>
    </div>
{% endblock %}

{% block scripts %}
    <script src="{% static "ghactivity/repo_list.js" %}"></script>
{% endblock %}
