{% extends "base.html" %}
{% load staticfiles %}

{% block styles %}
    <link rel="stylesheet" type="text/css" href="{% static "css/activity.css" %}"
{% endblock %}

{% block body %}
    <table>
        <tr>{{ repository.full_name }}</tr>
        <tr><td>Fork:</td><td>{{ repository.fork }}</td></tr>
        <tr><td>First commit:</td><td>{{ repository.first_commit }}</td></tr>
        <tr><td>Last commit:</td><td>{{ repository.last_commit }}</td></tr>
        <tr><td>Named contributors:</td><td>{{ repository.contributors }}</td></tr>
        <tr><td>Prediction:</td><td>{{ prediction }}</td></tr>
    </table>

    <svg width="800" height="400" id="commits_graph"></svg>
    <svg width="800" height="400" id="issues_graph"></svg>
    <svg width="800" height="400" id="pulls_graph"></svg>
    <svg width="800" height="400" id="forks_graph"></svg>
{% endblock %}

{% block scripts %}
    <script src="http://d3js.org/d3.v3.min.js" charset="utf-8"></script>
    <script src="{% static "ghactivity/render_stats.js" %}"></script>
{% endblock %}
