{% extends "base.html" %}
{% load staticfiles %}

{% block title %}
    {{ repository.full_name }} GHAM
{% endblock %}

{% block styles %}
    <link rel="stylesheet" type="text/css" href="{% static "css/activity.css" %}">
{% endblock %}

{% block body %}
    <div class="col-md-3">
        {% include "ghactivity/sidebar.html" %}
    </div>
    <div class="col-md-9">
        <div class="row">
            <div class="col-md-6 col-md-offset-3">
                <div class="page-header">
                    <h1 class="text-center"><a href="{{ repository.github_url }}">{{ repository.full_name }}</a></h1>
                </div>
            </div>
        </div>
        {% if repository.fresh %}
            <div class="row">
                <div class="col-md-2 col-md-offset-3 text-center">
                    <p><a class="btn btn-primary" href="{% url "repo_update" repository.pk %}" role="button">Reload</a>
                    </p>
                </div>
                <div class="col-md-2 col-md-offset-2 text-center">
                    <p><a class="btn btn-danger" href="{% url "repo_delete" repository.pk %}" role="button">Delete</a>
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 col-md-offset-3">
                    <table class="table">
                        <tr>
                            <th class="text-center">Fork</th>
                            <th class="text-center">First commit</th>
                            <th class="text-center">Last commit</th>
                            <th class="text-center">Obtained</th>
                            <th class="text-center">Non-anonymous contributors</th>
                        </tr>
                        <tr>
                            {% if repository.fork %}
                                <td class="text-center">{{ repository.fork }}</td>
                            {% else %}
                                <td class="text-center">false</td>
                            {% endif %}
                            <td class="text-center">{{ repository.first_commit }}</td>
                            <td class="text-center">{{ repository.last_commit }}</td>
                            <td class="text-center">{{ repository.obtained }}</td>
                            <td class="text-center">{{ repository.contributors }}</td>
                        </tr>
                    </table>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4 col-md-offset-4">
                    <p class="text-center prediction">
                        Prediction: {{ prediction | floatformat:"-2" }}
                    </p>

                    <p class="text-center prediction">
                        {% if prediction > 66 %}
                            <span class="label label-info">At the Beginning</span>
                        {% elif prediction > 33 %}
                            <span class="label label-success">Active</span>
                        {% elif prediction > 5 %}
                            <span class="label label-default">Declining</span>
                        {% else %}
                            <span class="label label-danger">Probably Dead</span>
                        {% endif %}
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <p class="text-center">For activity badge, use this markdown tag:<br/>
                        <code>
                            [![Activity
                            Status]({{ badge_url }})]({{ index_url }})
                        </code>
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="panel panel-default">
                        <div class="panel-heading">Commits</div>
                        <div class="panel-body" id="cgraph">
                            <svg id="commits_graph"></svg>
                        </div>
                        <div class="panel-footer" id="commits_footer"></div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="panel panel-default">
                        <div class="panel-heading">Issues</div>
                        <div class="panel-body" id="igraph">
                            <svg id="issues_graph"></svg>
                        </div>
                        <div class="panel-footer" id="issues_footer"></div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="panel panel-default">
                        <div class="panel-heading">Pull requests</div>
                        <div class="panel-body" id="pgraph">
                            <svg id="pulls_graph"></svg>
                        </div>
                        <div class="panel-footer" id="pulls_footer"></div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="panel panel-default">
                        <div class="panel-heading">Forks</div>
                        <div class="panel-body" id="fgraph">
                            <svg id="forks_graph"></svg>
                        </div>
                        <div class="panel-footer" id="forks_footer"></div>
                    </div>
                </div>
            </div>
        {% else %}
            <div class="row">
                <div class="alert alert-danger" role="alert">Repository statistics are not downloaded yet.</div>
            </div>
        {% endif %}
    </div>
{% endblock %}

{% block scripts %}
    <script src="http://d3js.org/d3.v3.min.js" charset="utf-8"></script>
    {% if repository.fresh %}
        <script src="{% static "ghactivity/render_stats.js" %}"></script>
    {% endif %}
    <script src="{% static "ghactivity/repo_list.js" %}"></script>
{% endblock %}
