{% extends "base.html" %}
{% load staticfiles %}

{% block body %}
    <div class="row">
        <div class="col-md-4 col-md-offset-4">
            <div class="list-group">
                <form class="form-inline list-group-item" action="{% url "get_repo_info" %}" method="POST">
                    {% csrf_token %}
                    <div class="form-group">
                        <label for="repository">Repository name: </label>
                        <input type="text" class="form-control" name="repository" id="repository"
                               placeholder="garretraziel/gham">
                    </div>
                    <button type="submit" class="btn btn-default">Get Stats</button>
                </form>
                {% for repository in repository_list %}
                    {% if repository.fresh %}
                        <a class="list-group-item" id="{{ repository.id_name }}"
                           href="{{ repository.get_absolute_url }}">
                            {{ repository.full_name }}
                        </a>
                    {% else %}
                        <a class="list-group-item disabled" id="{{ repository.id_name }}"
                           href="{{ repository.get_absolute_url }}">
                            {{ repository.full_name }}
                        </a>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}

{% block scripts %}
    <script src="{% static "ghactivity/repo_list.js" %}"></script>
{% endblock %}
